@model ATHub.Services.Data.Models.AllCategoriesVidewModel

@{
    ViewData["Title"] = "Create";
}

<script>
    $(document).ready(function () {
        $('.btn-success').each(function () {
            let src = $(this).data("src");
            let id = $(this).attr('id');
            console.log(src);
            console.log(id);
            $(this).click(function () {
                let modal = $('#editCategoryModal');
                modal.on('show.bs.modal', () => {

                    $('#editCategoryName').val(src);
                  
                });
                //$('#editCategoryModal').on('hide.bs.modal', function (b) {

                //    $("#video").attr('src', src);
                //});
            });
    });
});
</script>
<hr />
<div id="newCategoryModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newCategoryForm" class="form-inline my-2 my-lg-0" asp-area="Administrator" asp-controller="Categories" asp-action="Create">
                    <input required type="text" id="newCategoryName" class="awesomplete form-control mr-sm-2" name="name" />
  
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="newCategoryForm" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id="editCategoryModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editCategoryForm" class="form-inline my-2 my-lg-0" asp-area="Administrator" asp-controller="Categories" asp-action="Update">
                    <input required type="text" id="editCategoryName" class="awesomplete form-control mr-sm-2" name="name" />

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="editCategoryForm" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-primary" data-toggle="modal" data-target="#newCategoryModal"><span>Add new category</span></button>

    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr align="center">
            <th scope="col"><span>Name</span></th>
            <th scope="col"><span>Created On</span></th>
            <th scope="col"><span>Videos Count</span></th>
            <th scope="col"><span>Actions</span></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.AllCategories.Count(); i++)
        {
            var category = Model.AllCategories[i];
            if (i % 2 == 0)
            {
        <tr class="table-active" align="center">
            <th scope="row">@category.Name</th>
            <td>@category.CreatedOn</td>
            <td>@category.VideosCount</td>
            <td><form method="post" class="form-check-inline" asp-area="Administrator" asp-controller="Categories" asp-action="Delete" asp-route-id=@category.Id><button type="submit" class="btn btn-danger">Delete</button></form>
            <button id=@category.Id class="btn btn-success" data-toggle="modal" data-target="#editCategoryModal" data-src='@category.Name'>Edit</button></td>
        </tr>
            }
            else
            {
        <tr align="center">
            <th scope="row">@category.Name</th>
            <td>@category.CreatedOn</td>
            <td>@category.VideosCount</td>
            <td><form  method="post" class="form-check-inline" asp-area="Administrator" asp-controller="Categories" asp-action="Delete" asp-route-id=@category.Id><button type="submit" class="btn btn-danger">Delete</button></form>
            <button id=@category.Id class="btn btn-success"  data-toggle="modal" data-target="#editCategoryModal" data-src='@category.Name'>Edit</button></td>
        </tr>
            }
        }


    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>

